
<div class="home-page">
    <h1>Search For A Movie</h1>

    <form action="/search_results">
        <input type="text" name="user_input">
        <button>Search</button>
    </form>

    <p class="user-error-msg"><%= invalid_search_msg %></p>
</div>