<h1>Movie Review Site</h1>

<% if logged_in? %>
    <a href="/user_reviews?user_id=<%= session['user_id']%>">My Reviews</a>

    <form action="/sessions" method="POST">
        <input type="hidden" name="_method" value="delete">
        <button>Log Out</button>
    </form>
<% else %>
    <a href="/sign_up">Create An Account</a>
    <a href="/login">Log In</a>
<% end %>

<form action="/search_results">
    <input type="text" name="user_input">
    <button>Search</button>
</form>

<p class="user-error-msg"><%= invalid_search_msg %></p>