<h1>Create Your Account</h1>

<form action="/create_user" method="POST">
    <label for="">Name: </label>
    <input type="text" name="name">

    <label for="">Email: </label>
    <input type="text" name="email">

    <label for="">Password: </label>
    <input type="password" name="password">

    <button>Sign Up</button>
</form>

<p class="user-error-msg"><%= empty_sign_up_msg %></p>
<p class="user-error-msg"><%= user_already_exists_msg %></p>